:root {
    --waveStart: path('M0 981L45.7 972C91.3 963 182.7 945 274.2 928.3C365.7 911.7 457.3 896.3 548.8 892.5C640.3 888.7 731.7 896.3 823 906C914.3 915.7 1005.7 927.3 1097 933.3C1188.3 939.3 1279.7 939.7 1371.2 943C1462.7 946.3 1554.3 953.7 1645.8 956.7C1737.3 959.7 1828.7 958.3 1874.3 957L1920 955L1920 1081L0 1081Z');
    
    --waveEnd: path('M0 0L45.7 0C91.3 0 182.7 0 274.2 0C365.7 0 457.3 0 548.8 0C640.3 0 731.7 0 823 0C914.3 0 1005.7 0 1097 0C1188.3 0 1279.7 0 1371.2 0C1462.7 0 1554.3 0 1645.8 0C1737.3 0 1828.7 0 1874.3 0L1920 0L1920 1081L0 1081Z');
}

.wave {
    animation: waveAnimation 6s ease-in-out infinite alternate;
}

@keyframes waveAnimation {
    0% {
        d: var(--waveStart);
    }

    100% {
        d: var(--waveEnd);
    }
}