:root {
    --wave1Start: path('M0 737L45.7 735.8C91.3 734.7 182.7 732.3 274.2 715.3C365.7 698.3 457.3 666.7 548.8 652.5C640.3 638.3 731.7 641.7 823 652.5C914.3 663.3 1005.7 681.7 1097 688.3C1188.3 695 1279.7 690 1371.2 692.7C1462.7 695.3 1554.3 705.7 1645.8 703C1737.3 700.3 1828.7 684.7 1874.3 676.8L1920 669L1920 1081L1874.3 1081C1828.7 1081 1737.3 1081 1645.8 1081C1554.3 1081 1462.7 1081 1371.2 1081C1279.7 1081 1188.3 1081 1097 1081C1005.7 1081 914.3 1081 823 1081C731.7 1081 640.3 1081 548.8 1081C457.3 1081 365.7 1081 274.2 1081C182.7 1081 91.3 1081 45.7 1081L0 1081Z');
    --wave1End: path('M0 737L45.7 750C91.3 763 182.7 789 274.2 799C365.7 809 457.3 803 548.8 787C640.3 771 731.7 745 823 737C914.3 729 1005.7 739 1097 755C1188.3 771 1279.7 793 1371.2 803C1462.7 813 1554.3 811 1645.8 801C1737.3 791 1828.7 773 1874.3 763L1920 753L1920 1081L1874.3 1081C1828.7 1081 1737.3 1081 1645.8 1081C1554.3 1081 1462.7 1081 1371.2 1081C1279.7 1081 1188.3 1081 1097 1081C1005.7 1081 914.3 1081 823 1081C731.7 1081 640.3 1081 548.8 1081C457.3 1081 365.7 1081 274.2 1081C182.7 1081 91.3 1081 45.7 1081L0 1081Z');


    --wave2Start: path('M0 724L45.7 732C91.3 740 182.7 756 274.2 766.7C365.7 777.3 457.3 782.7 548.8 776.3C640.3 770 731.7 752 823 737.8C914.3 723.7 1005.7 713.3 1097 712.7C1188.3 712 1279.7 721 1371.2 735.8C1462.7 750.7 1554.3 771.3 1645.8 781.2C1737.3 791 1828.7 790 1874.3 789.5L1920 789L1920 1081L1874.3 1081C1828.7 1081 1737.3 1081 1645.8 1081C1554.3 1081 1462.7 1081 1371.2 1081C1279.7 1081 1188.3 1081 1097 1081C1005.7 1081 914.3 1081 823 1081C731.7 1081 640.3 1081 548.8 1081C457.3 1081 365.7 1081 274.2 1081C182.7 1081 91.3 1081 45.7 1081L0 1081Z');
    --wave2End: path('M0 724L45.7 740C91.3 756 182.7 782 274.2 793C365.7 804 457.3 799 548.8 785C640.3 771 731.7 748 823 738C914.3 728 1005.7 732 1097 745C1188.3 758 1279.7 780 1371.2 790C1462.7 800 1554.3 798 1645.8 788C1737.3 778 1828.7 760 1874.3 750L1920 740L1920 1081L1874.3 1081C1828.7 1081 1737.3 1081 1645.8 1081C1554.3 1081 1462.7 1081 1371.2 1081C1279.7 1081 1188.3 1081 1097 1081C1005.7 1081 914.3 1081 823 1081C731.7 1081 640.3 1081 548.8 1081C457.3 1081 365.7 1081 274.2 1081C182.7 1081 91.3 1081 45.7 1081L0 1081Z');

    --wave3Start: path('M0 823L45.7 828.5C91.3 834 182.7 845 274.2 838C365.7 831 457.3 806 548.8 802C640.3 798 731.7 815 823 832C914.3 849 1005.7 866 1097 875.7C1188.3 885.3 1279.7 887.7 1371.2 882.8C1462.7 878 1554.3 866 1645.8 855.3C1737.3 844.7 1828.7 835.3 1874.3 830.7L1920 826L1920 1081L1874.3 1081C1828.7 1081 1737.3 1081 1645.8 1081C1554.3 1081 1462.7 1081 1371.2 1081C1279.7 1081 1188.3 1081 1097 1081C1005.7 1081 914.3 1081 823 1081C731.7 1081 640.3 1081 548.8 1081C457.3 1081 365.7 1081 274.2 1081C182.7 1081 91.3 1081 45.7 1081L0 1081Z');
    --wave3End: path('M0 823L45.7 835C91.3 847 182.7 870 274.2 868C365.7 866 457.3 839 548.8 828C640.3 817 731.7 821 823 836C914.3 851 1005.7 877 1097 890C1188.3 903 1279.7 903 1371.2 896C1462.7 889 1554.3 875 1645.8 864C1737.3 853 1828.7 845 1874.3 841L1920 837L1920 1081L1874.3 1081C1828.7 1081 1737.3 1081 1645.8 1081C1554.3 1081 1462.7 1081 1371.2 1081C1279.7 1081 1188.3 1081 1097 1081C1005.7 1081 914.3 1081 823 1081C731.7 1081 640.3 1081 548.8 1081C457.3 1081 365.7 1081 274.2 1081C182.7 1081 91.3 1081 45.7 1081L0 1081Z');

    --wave4Start: path('M0 929L45.7 934.2C91.3 939.3 182.7 949.7 274.2 950C365.7 950.3 457.3 940.7 548.8 937.2C640.3 933.7 731.7 936.3 823 925C914.3 913.7 1005.7 888.3 1097 877.3C1188.3 866.3 1279.7 869.7 1371.2 878.5C1462.7 887.3 1554.3 901.7 1645.8 902C1737.3 902.3 1828.7 888.7 1874.3 881.8L1920 875L1920 1081L1874.3 1081C1828.7 1081 1737.3 1081 1645.8 1081C1554.3 1081 1462.7 1081 1371.2 1081C1279.7 1081 1188.3 1081 1097 1081C1005.7 1081 914.3 1081 823 1081C731.7 1081 640.3 1081 548.8 1081C457.3 1081 365.7 1081 274.2 1081C182.7 1081 91.3 1081 45.7 1081L0 1081Z');
    --wave4End: path('M0 929L45.7 940C91.3 951 182.7 970 274.2 972C365.7 974 457.3 959 548.8 950C640.3 941 731.7 938 823 926C914.3 914 1005.7 892 1097 881C1188.3 870 1279.7 870 1371.2 880C1462.7 890 1554.3 910 1645.8 912C1737.3 914 1828.7 900 1874.3 894L1920 889L1920 1081L1874.3 1081C1828.7 1081 1737.3 1081 1645.8 1081C1554.3 1081 1462.7 1081 1371.2 1081C1279.7 1081 1188.3 1081 1097 1081C1005.7 1081 914.3 1081 823 1081C731.7 1081 640.3 1081 548.8 1081C457.3 1081 365.7 1081 274.2 1081C182.7 1081 91.3 1081 45.7 1081L0 1081Z');

    --wave5Start: path('M0 1011L45.7 1008C91.3 1005 182.7 999 274.2 997.7C365.7 996.3 457.3 999.7 548.8 1002C640.3 1004.3 731.7 1005.7 823 999.3C914.3 993 1005.7 979 1097 969.7C1188.3 960.3 1279.7 955.7 1371.2 953.2C1462.7 950.7 1554.3 950.3 1645.8 962.3C1737.3 974.3 1828.7 998.7 1874.3 1010.8L1920 1023L1920 1081L1874.3 1081C1828.7 1081 1737.3 1081 1645.8 1081C1554.3 1081 1462.7 1081 1371.2 1081C1279.7 1081 1188.3 1081 1097 1081C1005.7 1081 914.3 1081 823 1081C731.7 1081 640.3 1081 548.8 1081C457.3 1081 365.7 1081 274.2 1081C182.7 1081 91.3 1081 45.7 1081L0 1081Z');
    --wave5End: path('M0 1011L45.7 1012.5C91.3 1014 182.7 1017 274.2 1016.3C365.7 1015.7 457.3 1011.3 548.8 1009.2C640.3 1007 731.7 1007 823 1005.3C914.3 1003.7 1005.7 1000.3 1097 995.7C1188.3 991 1279.7 985 1371.2 980.2C1462.7 975.3 1554.3 972.7 1645.8 978.3C1737.3 984 1828.7 997 1874.3 1003.5L1920 1010L1920 1081L1874.3 1081C1828.7 1081 1737.3 1081 1645.8 1081C1554.3 1081 1462.7 1081 1371.2 1081C1279.7 1081 1188.3 1081 1097 1081C1005.7 1081 914.3 1081 823 1081C731.7 1081 640.3 1081 548.8 1081C457.3 1081 365.7 1081 274.2 1081C182.7 1081 91.3 1081 45.7 1081L0 1081Z');

}

.wave1 {
    animation: wave1Animation 3s ease-in-out infinite alternate;
}

@keyframes wave1Animation {
    0% {
        d: var(--wave1Start);
    }

    100% {
        d: var(--wave1End);
    }
}

.wave2 {
    animation: wave2Animation 2s ease-in-out infinite alternate;
}

@keyframes wave2Animation {
    0% {
        d: var(--wave2Start);
    }

    100% {
        d: var(--wave2End);
    }
}

.wave3 {
    animation: wave3Animation 2s ease-in-out infinite alternate;
}

@keyframes wave3Animation {
    0% {
        d: var(--wave3Start);
    }

    100% {
        d: var(--wave3End);
    }
}

.wave4 {
    animation: wave4Animation 2s ease-in-out infinite alternate;
}

@keyframes wave4Animation {
    0% {
        d: var(--wave4Start);
    }

    100% {
        d: var(--wave4End);
    }
}

.wave5 {
    animation: wave5Animation 2s ease-in-out infinite alternate;
}

@keyframes wave5Animation {
    0% {
        d: var(--wave5Start);
    }

    100% {
        d: var(--wave5End);
    }
}