:root {

    --wave1Start: 'M0,96L48,128C96,160,192,224,288,256C384,288,480,288,576,282.7C672,277,768,267,864,272C960,277,1056,299,1152,309.3C1248,320,1344,320,1392,320L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z';
    --wave1End: 'M0,256L48,261.3C96,267,192,277,288,282.7C384,288,480,288,576,245.3C672,203,768,117,864,74.7C960,32,1056,32,1152,69.3C1248,107,1344,181,1392,218.7L1440,256L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z';

    --wave2Start: 'M0,192L48,165.3C96,139,192,85,288,80C384,75,480,117,576,160C672,203,768,245,864,224C960,203,1056,117,1152,85.3C1248,53,1344,75,1392,85.3L1440,96L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z';
    --wave2End: 'M0,256L48,261.3C96,267,192,277,288,261.3C384,245,480,203,576,165.3C672,128,768,96,864,85.3C960,75,1056,85,1152,85.3C1248,85,1344,75,1392,69.3L1440,64L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z';

    --wave3Start: 'M0,96L48,80C96,64,192,32,288,58.7C384,85,480,171,576,208C672,245,768,235,864,213.3C960,192,1056,160,1152,170.7C1248,181,1344,235,1392,261.3L1440,288L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z';
    --wave3End: 'M0,224L48,208C96,192,192,160,288,144C384,128,480,128,576,106.7C672,85,768,43,864,48C960,53,1056,107,1152,149.3C1248,192,1344,224,1392,240L1440,256L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z';

    --wave4Start: 'M0,32L48,58.7C96,85,192,139,288,138.7C384,139,480,85,576,53.3C672,21,768,11,864,32C960,53,1056,107,1152,128C1248,149,1344,139,1392,133.3L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z';
    --wave4End: 'M0,192L48,197.3C96,203,192,213,288,213.3C384,213,480,203,576,208C672,213,768,235,864,245.3C960,256,1056,256,1152,245.3C1248,235,1344,213,1392,202.7L1440,192L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z';
}

.wave1 {
    fill: #034697;
    animation: wave1Animation 6s ease-in-out infinite alternate;
}

@keyframes wave1Animation {
    0% {
        d: path(var(--wave1Start));
    }

    100% {
        d: path(var(--wave1End));
    }
}

.wave2 {
    fill: #076EC9;
    animation: wave2Animation 3s ease-in-out infinite alternate;
}

@keyframes wave2Animation {
    0% {
        d: path(var(--wave2Start));
    }

    100% {
        d: path(var(--wave2End));
    }
}

.wave3 {
    fill: #24ABEF;
    animation: wave3Animation 4s ease-in-out infinite alternate;
}

@keyframes wave3Animation {
    0% {
        d: path(var(--wave3Start));
    }

    100% {
        d: path(var(--wave3End));
    }
}

.wave4 {
    fill: #7FD5F5;
    animation: wave4Animation 5s ease-in-out infinite alternate;
}

@keyframes wave4Animation {
    0% {
        d: path(var(--wave4Start));
    }

    100% {
        d: path(var(--wave4End));
    }
}
